<header>
  <h1>Dump</h1>
</header>

<main>
  <form action="" class="dump">
    {{textarea class="note-input" placeholder="De quoi se souvenir ?" autoresize=true}}
    <input type="submit" name="submit" value="+"/>
  </form>
</main>

{{outlet}}
