<header>
  <h1>Dump</h1>
</header>

<main>
  <div class="dump preview">
    <input
      class="note-input"
      placeholder="De quoi se rappeler ?"
      {{action "startDumpNote"}}
    >
    <input type="submit" name="submit" value="+">
  </div>

  {{outlet}}
</main>
