<form {{action "createNote" title on="submit"}} >
  {{#auto-focus class="dump"}}
    {{textarea
      value=title
      key-press=(action "enterActive")
      class="note-input"
      placeholder="De quoi se rappeler ?"
      autoresize=true
    }}
    <input type="submit" name="submit" value="+">
  {{/auto-focus}}
</form>
